body {
    background-color: black;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Comic Sans MS', cursive;
    margin: 0;
}

header {
    font-size: 60px;
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom: double 5px rgb(143, 5, 143);
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

iframe, video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}
